@import "tailwindcss";

@theme {
  --font-playfair: var(--font-playfair);
  --font-sans: var(--font-inter);
  --font-handwriting: var(--font-caveat);

  --color-cream: #fdfbf7;
  --color-pink: #f8c8dc;
  --color-pink-soft: #ffe4e1;

  --animate-float: float 6s ease-in-out infinite;

  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
}


